/** Assignments **/
.bullets {
  position: absolute;
  right: 16px;
  height: 58px;
  margin-top: -34px; }
  .bullets.bottom {
    top: 100%; }
  .bullets.central {
    top: 50%; }
  .bullets .md-fab {
    background-color: white;
    color: black; }
  .bullets .points {
    width: 56px;
    height: 56px;
    margin: 6px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    padding-top: 14px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    color: black;
    background-color: white;
    vertical-align: middle; }
  .bullets .completed {
    background-color: #2196f3;
    fill: white;
    color: white; }

@media screen and (min-width: 1280px) {
  .pp-sidenav-left {
    padding: 16px; }
    .pp-sidenav-left .md-sidenav-left {
      margin: 8px;
      width: 352px; }

  .pp-sidenav-left {
    position: fixed; }

  .left-column {
    width: 400px; } }
.pp-sidenav-left .md-sidenav-backdrop {
  position: fixed; }
.pp-sidenav-left .md-sidenav-left {
  border-left: 7px solid darkgray;
  position: fixed; }

.assignment {
  margin-bottom: 22px; }

.header {
  padding: 16px;
  position: relative;
  justify-content: space-between;
  display: flex; }

.header h2 {
  font-size: 36px;
  margin-bottom: 5px; }

.assignmentOverview .assignment {
  position: relative;
  border-left: 7px solid darkgray; }
  .assignmentOverview .assignment.complete {
    border-color: #259b24;
    padding: 5px; }
    .assignmentOverview .assignment.complete h2 {
      margin: 0px; }
  .assignmentOverview .assignment:hover {
    background-color: white;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2); }

.grayed {
  background-color: #f9f9f9; }

.sub {
  border-bottom: 1px solid #eee; }

.toggle:hover {
  fill: white;
  cursor: pointer; }

.sub.easy {
  border-left: 5px solid #259b24; }

.sub.medium {
  border-left: 5px solid #FFB901; }

.sub.hard {
  border-left: 5px solid #f44336; }

span.danger {
  color: #f44336; }

/* Toasts */
.md-toast {
  position: fixed; }

.md-toast.success .md-toast-content {
  background-color: #259b24;
  color: white; }

/* End toasts */
/*.assignment.easy .header{ background-color:#7FBA00; }*/
.assignment.easy .header {
  background-color: #259b24;
  color: white; }

.assignment.normal .header {
  background-color: #FFB901;
  color: white; }

.assignment.hard .header {
  background-color: #f44336;
  color: white; }

.assignment.workshop .header {
  background-color: #2196f3;
  color: white; }

/** Assignment end **/
.assignmentDialog {
  max-width: 500px; }

/** The tower **/
#background {
  position: absolute;
  background-image: url("img/Background.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 0% 80%;
  border: 2px solid green;
  background-repeat: no-repeat; }

#canvas {
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 500px;
  overflow: hidden; }

#canvas img {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  transition: bottom ease-in-out 1s; }

#canvas #loader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: height linear 1s;
  transition: height linear 1s; }

#canvas .cloud {
  animation-name: cloud;
  animation-duration: 70s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  left: -100%; }

#canvas .cloud.reverse {
  animation-name: cloud-reverse;
  left: 100%; }

@keyframes cloud {
  0% {
    left: -100%; }
  100% {
    left: 100%; } }
@keyframes cloud-reverse {
  0% {
    left: 100%; }
  100% {
    left: -100%; } }
#canvas .banner {
  color: black;
  position: absolute;
  left: 0px;
  bottom: 20px;
  padding: 16px;
  margin-left: 20px;
  -webkit-transition: all linear 1s;
  transition: all linear 1s;
  /*background-color: rgba(0, 51 , 98 , 0.2);*/
  background-color: rgba(255, 255, 255, 0.8);
  min-width: 200px;
  max-width: 100%;
  opacity: 1; }

#canvas .banner.ng-hide {
  opacity: 0;
  left: -100%; }

.withSkyline {
  background-image: url("img/skyline.png");
  background-repeat: no-repeat;
  background-position: 80% 100%;
  background-size: contain; }

.content-container {
  min-height: 100%; }

/** End of Tower **/
.noFade .scroll {
  background: transparent; }

.relative {
  position: relative; }

.preImage {
  position: absolute;
  width: 100px;
  left: -110px;
  border: 2px solid white;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.hoverTitle {
  position: absolute; }

.content-center > .centered {
  margin-left: auto;
  margin-right: auto;
  display: block; }

.photo {
  display: block;
  border: 10px solid white;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  box-sizing: border-box; }

.text-center {
  text-align: center; }

.img-right {
  float: right;
  margin-left: 16px; }

.margin-top {
  margin-top: 45px; }

.wrong {
  text-decoration: line-through; }

/** Video wrapper iframe **/
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/** Code examp **/
.codexamp .content {
  min-height: 200px;
  overflow: hidden;
  position: relative; }

.codexamp .slider {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  box-shadow: 1px 1px 4px black;
  position: absolute;
  left: 0px;
  top: 0px; }

.codexamp img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px; }

ng-md-icon.active svg {
  fill: white; }

.animate-show {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s; }

.animate-show.ng-hide {
  transform: translate(0px, 100%); }

/*# sourceMappingURL=main.css.map */
