$default-padding: 16px;

$primary-color: rgb(33,150,243);
$secondary-color: #eee;

$success: #259b24;
$warning: #FFB901;
$danger: rgb(244,67,54);

$shadow-1: 0 2px 5px 0 rgba(0,0,0,.26);
$shadow-2: 0 3px 5px 0 rgba(0,0,0,.20);

$category-border-size: 7px;
