<html lang="en" ng-app="Prog5">
<head>



	
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular.min.js" defer></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular-animate.js" defer></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js" defer></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.0/angular-material-icons.min.js" defer></script> 
  <script src="bower_components/prettify/prettify.js"></script>

	<!-- Twenty Twenty -->
	<script src="bower_components/twentytwenty/jquery.event.move.js"></script>
	<script src="bower_components/twentytwenty/jquery.twentytwenty.js"></script>
  
  <!-- Angular Material Dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.8/angular-material.min.js" defer></script>

	<!-- Das pointy pony -->
	<script src="http://advans.herokuapp.com/js/pointypony.js"></script>
	<!--<script src="http://localhost:3000/js/pointypony.js"></script>-->

  <meta name="viewport" content="initial-scale=1" />
 	<script src="js/app.js" defer></script>
   
   	<title>Prog 5</title>
   
   	<!-- Angular material design css -->
	<!-- https://material.angularjs.org/latest/ -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.8/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">

 	<!-- Common styles -->
  <link rel="stylesheet" href="bower_components/prettify/prettify.css" />
  <link rel="stylesheet" href="bower_components/twentytwenty/twentytwenty.css" />
	<link rel="stylesheet" href="http://advans.herokuapp.com/css/style.css" />
	<link rel="stylesheet" href="css/theme.css"/>
	<link rel="stylesheet" href="css/main.css"/>
	<link rel="stylesheet" href="css/leaderboard.css"/>
    

</head>
<body ng-controller="appCtrl as app" >

  <section layout="column" class="container" ng-controller="ppCourseCtrl">
    
    <md-content id="toastBound" ></md-content>

    <md-toolbar layout="row" ng-controller="ppAuthCtrl" class="theHeader">
      <div class="md-toolbar-tools">
        
        <md-button  hide-gt-md ng-click="toggleLeft()" class="md-icon-button" aria-label="Settings">
          <ng-md-icon icon="menu" style="fill: white" size="36"></ng-md-icon> 
            <md-tooltip>
                Side Nav
            </md-tooltip>
        </md-button>
        
        <a hide show-gt-sm class="md-title" ui-sref="home"><md-button >
            Prog5
        </md-button></a>  
    
        <a hide show-gt-sm class="md-title" ui-sref="leaderboards"><md-button >
            Leaderboards
        </md-button></a>  
    
  
        <span flex></span>
        
          <md-button ng-show="!user"  aria-label="Login" ng-click="login()">
            Login
          </md-button>
        
          <a ui-sref="profile" ng-show="user">
            <md-button  ng-show="user" class="md-icon-button" aria-label="Settings">
              <ng-md-icon icon="account_circle" style="fill: white" size="32"></ng-md-icon> 
            </md-button>
          </a>
          
          <a   ng-show="user">
            <md-button  ng-click="logout()" aria-label="Logout" >
                Logout
            </md-button>
          </a>
          
    
      
      </div>
    </md-toolbar>

    <section layout="row content-container">
      
      <!-- Side Nav -->
      <section ng-include="'templates/sideNav.html'" ></section>
          
      <!-- Main content -->
      <div ui-view flex class="main"></div>
      
    </section>
    

   </section>

</body>
</html>
