
	<!--<div class="col-md-3 " ng-controller="overviewCtrl">
		
		<div class="sideNav">

			<article class="sample shadow-z-1">
				<section class="header">
					<span>Overview</span>
				</section>
			</article>
			
			<article id="overview" class="shadow-z-1 fixedContent">
				<img src="img/pointer.png" class="pointer"></img>
				<section class="main">
					<ul >
						<li><a ng-click="scrollTo('#inleiding')">Inleiding</a></li>
						<li><a ng-click="scrollTo('#opdracht2')">Telefoonboek</a></li>
					</ul>
				</section>
			</article>
		</div>

	</div>-->

	<div class="col-md-6 article-container">
		
		<section class="preHeader">
		 	<h2>Opdrachten week 5</h2>
		</section>
		
		<article class="sample shadow-z-1" id="inleiding" >
			<section class="header">
				<span>Inleiding</span>
			</section>
			<section class="main">
			
				<p>
				Op deze pagina vind je de opdrachten voor week 5. 
				</p>
				
				<p>
				Elke week zijn er een aantal <b> <span class="easy">makkelijke</span>, <span class="medium">medium</span> en <span class="hard">moeilijke</span></b> opdrachten waar je in het practicum aan gaat werken. 
				Aan het begin kan je de uitwerking van de opdrachten aan je docent laten zien. Deze zal ze afvinken en je zult hiervoor avans punten krijgen.
				</p>
				
				<p>
				Voor het huiswerk van elke weeg staat er een start project klaar. 
				Deze startprojecten zijn onderdeel van de github repository waarmee dit webdictaat gemaakt is. 
				Om deze start projecten te gebruiken kun je het beste de github repo clonen. 
				Rechts van dit informatie blok staat een link en een clone button.
				Voor elk project is meteen een uitwerking toegevoegd. Gebruik deze om te spieken als je er even niet meer uit komt.
				</p>

					</br>
				

				<p>
					Daarnaast bevat elke opdracht, ook een <b>Unit test</b> project en een aantal <b>interface</b> objecten. 
					Gebruik deze interfaces om je eigen objecten te immplementeren, en run de tests om te controlleren of de opdracht goed is.
				</p>	
			
				
				<p>
				De workshop opdrachten zijn tevens huiswerk opdrachten. Deze opdrachten zijn oefenmateriaal voor het assessment aan het einde van dit blok. 
				De opdrachten zijn niet verplicht, maar de eindopdracht wordt pittig. 
				Ik kan je aanraden deze opdrachten dus netjes bij te houden. 
				</p>
				
				<p>De opdrachten van deze week geven je een kijkje in de keuken van Entity Framework. De 3 manieren voor het werken met Entity Framework worden toegepast.
					<ul>
						<li>Model First</LI>
						<li>Code First</li>
						<li>Database First</li>
					</ul>
				
				<p>
				Ready? Set? <b>Go!</b>
				</p>
			</section>
			
		</article>
		
		<article class="sample shadow-z-1 easy" assignment="league"> 
			
			<!-- Include default assignment header -->
			<section class="header" ng-include="'templates/assignmentHeader.html'"></section>	
			
			<section class="main">
				<p>
				Deze workshop opdrachten beginnen met een solution die je kan clonen uit Github. Op deze solution zal je code aanpassingen moeten doen om de opdracht te voltooien.		
				</p>
				
				<p>Project: <b>DataLogger</b></p>
				
				<p>	
					Kom je er niet uit? Kijk nog eens goed naar de lesstof op het webdictaat!
				</p>
				
				<p>Deze eerste opdracht maakt gebruik van het <b>Model First</b> principe.</p>
			</section>
			
				
			<section class="easy sub">
				<h3>Select</h3>
				
				<p>Voordat je deze opdracht gaat maken moet je vanuit het model (MyModel.edmx) een database genereren.</p>
				
				<p>Open de .edmx file en klik met rechtermuisknop op het schema. Nu krijg je de optie "Generate Database from Model...".
				</p>
				
				<p>Doorloop de wizzard en kies of je de database op 'localhost' of '(localdb)\v11.0' wilt hebben.</p>
				
				<p>Deze wizard genereerd voor jou een script. Run dit script en je hebt een database!</p>
				
				<img src="week5/img/myScript.png" width="200px"/><br><br>
				
				<p>Vul de onderstaande methodes in met je zelfgeschreven logica. Deze methodes vind je terug in de klasse MyDatabase
					<ul>
						<li>ShowAllPlayers</li>
						<li>ShowAllTeams</li>
						<li>ShowAllPlayersInTeam</li>
					</ul>
				</p>
				
				<p>Waarom wordt de klasse <b>MyModelContainer</b> meegegeven via de constructor? Bespreek dit met een andere student</p>
				
			</section>

			<section class="medium sub">
				<h3>Add</h3>
				
				<p>
					Vul de methode <b>AddNewCompetition</b> in met je zelfgeschreven logica. 
					De methode moet 2 bestaande teams samenvoegen in een compititie die op een bepaalde datum plaatsvindt. 
				</p>
			
				<p>
					Waarom is het verschil tussen het gebruiken van bestaande of nieuwe teams? Bespreek dit met een andere student
				</p>
				
			</section>
			
			<section class="hard sub">
				<h3>Update</h3>
				
				<p>
					Vul de methode <b>AddCompetitionToLadder</b> in met je zelfgeschreven logica. 
					Controlleer in de database (SQL Management Studio) of de update gelukt is. 
				</p>
				<p>Waarom is het verschil tussen het gebruiken van bestaande of nieuwe teams? Bespreek dit met een andere student</p>
				
			</section>
					
			<!-- Include default assignment footer -->
			<section class="footer" ng-include="'templates/assignmentFooter.html'"></section>	
			
		</article>
				
		<article class="sample shadow-z-1 medium" assignment="leagueWPF"> 
			
			<!-- Include default assignment header -->
			<section class="header" ng-include="'templates/assignmentHeader.html'"></section>	
			
			<section class="main">
				<p>
				Deze workshop opdrachten beginnen met een solution die je kan clonen uit Github. Op deze solution zal je code aanpassingen moeten doen om de opdracht te voltooien.		
				</p>
				
				<p>Project: <b>LeagueOfPresentation</b></p>
				
				<p>	
					Kom je er niet uit? Kijk nog eens goed naar de lesstof op het webdictaat!
				</p>
				
				<p>Deze eerste opdracht maakt gebruik van het <b>Database First</b> principe.</p>
			</section>
			
			<section class="medium sub">
				<h3>Database First</h3>
				
			
				<p>
					In het startup project zie je een bijna volledige <b>MvvM</b> applicatie. 
					It's up to <b>you</b> om er een volledige werkende applicatie van te maken.
				</p>
				
				<p>
					In de eerste opdracht heb je een database gemaakt via het bijbehorende SQL script. 
					Nu is het de bedoeling dat je via Entity Framework deze database gaat gebruiken om een nieuwe context en bijbehorende POCO's te genereren. 
				</p>
				
				<p>Kom je er niet uit? Kijk dan even op google of naar het onderstaande youtube filmpje. </p>
				
				<a href="https://www.youtube.com/watch?v=D2Jkunlp2vk" target="_blank">https://www.youtube.com/watch?v=D2Jkunlp2vk</a>
				
				
			</section>
			
			<section class="hard sub">
				<h3>Use the <span class="wrong">Force</span> <span class="hard">POCO's</span></h3>
				
				<p>
					Gebruik de gegenereerde POCO's uit de vorige opdracht om je view models te vullen met data uit de database.
					Daarnaast zul je nog een aantal bindings moeten toevoegen om de data op de juiste manier op je scherm te krijgen.
				</p>
				
			</section>
					
			<!-- Include default assignment footer -->
			<section class="footer" ng-include="'templates/assignmentFooter.html'"></section>	
			
		</article>
		
		<article class="sample shadow-z-1 hard" assignment="codefirst"> 
			
			<!-- Include default assignment header -->
			<section class="header" ng-include="'templates/assignmentHeader.html'"></section>	
			
			<section class="main">
				<p>
					Bij deze opdracht zit geen start project. Je moet deze opdracht van 'scratch' opbouwen.
				</p>
				
				<p>Deze eerste opdracht maakt gebruik van het <b>Code First</b> principe.</p>
				
				<p>Voor de huiswerk opdracht van vorige week is er een CRUD applicatie gebouwd. Maak deze uitwerking 'persistant' door hem uit te breiden met het Entity Framework</p>
			</section>
		

			<!-- Include default assignment footer -->
			<section class="footer" ng-include="'templates/assignmentFooter.html'"></section>	
			
		</article>
				

	</div>
	<div class="col-md-3">
		
		<div class="sideNav">
				
			<!-- header -->
			<article class="sample shadow-z-1">
				<section class="header">
					<span>Github</span>
				</section>
				<section class="main">
				 <a  target="_blank" href="https://github.com/Avans/Prog5/">https://github.com/Avans/Prog5/</a></br>
						   					  <a class="md-col-3" href="github-windows://openRepo/https://github.com/Avans/Prog5/">
						</button>
						<button class="btn btn-inverse btn-raised">Clone To Desktop<div class="ripple-wrapper"></div></button>
					  </a>
			</section>
			</article>	
			
		</div>
		
	</div>
